.panel-body {
    padding-left: 30px;
}

.row {
	margin-top: 15px;
}

p {
	margin-bottom: 0;
}

input[type=text] {
	width: 99%;
}

.hideable {
	display: none;
}

body {
	background-image: url('../../assets/images/DerTrain_Large.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fa-close {
	cursor: pointer;
}